body.admin-blank {
    background: #314046;
}
#navigation .title-bar .title-bar-left a.logo {
    background: url("/assets/images/chatinue.svg") no-repeat;
    background-size: cover;
}
#navigation .top-bar .top-bar-logo .circle {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    background-color: transparent;
}
#navigation .top-bar .top-bar-logo .circle a.logo {
    width: 60px;
    height: 60px;
    background: url("/assets/images/chatinue.svg") no-repeat;
    background-size: cover;
}
#navigation.fixed .top-bar .top-bar-logo .circle {
    border-radius: 4px;
    background-color: transparent;
}
#navigation.fixed .top-bar .top-bar-logo .circle a.logo {
    background: url("/assets/images/chatinue.svg") no-repeat;
    background-size: cover;
}
.top-bar .settings .button {
    margin: 0;
    padding: 0 6px;
    border-radius: 6px;
    line-height: 30px;
    height: 30px;
    border: none;
}
.button.sign-out {
    background-color: #C45A4F;
}
.hexagon {
    height: 22px;
}

.reveal.popup {
    background-color: #e9f4f6;
}
.reveal.popup.error:before {
    box-shadow: 0 0 1.4em 3.7em #486571, 0 0 0 0 #e9f4f6;
}
.reveal.popup h2 {
    color: #1d5d77;
    margin-top: -.18em;
    margin-bottom: 1em;
    padding-right: 1em;
    padding-bottom: .35em;
    border-bottom: 1px solid #668395;
    font-size: 1.25em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
.reveal.popup h2 img {
    width: 1.55em;
    margin-right: 2px;
    vertical-align: bottom;
}
.reveal.popup h2 .iconfont {
    color: #e9f4f6;
}
.reveal.popup .content p .button {
    margin: 0;
    padding: .4em .8em;
}
.reveal.popup .close-button {
    color: #C45A4F;
}
.reveal.popup .banner {
    display: block;
    font-size: 10em;
    line-height: 1;
    text-align: center;
    width: 1em;
    margin: 0 auto;
    color: #3481a0;
    text-shadow: 5px 5px 1px #ccc;
}
.reveal.popup .banner.big {
    width: 1.2em;
}
.reveal.popup.error .banner {
    color: #516169;
}
.reveal.popup .banner.animate {
    position: relative;
    margin: 0 auto;
    -webkit-animation: shake 4.7s infinite;
    animation: shake 4.7s infinite;
}
.reveal.popup .banner.animate.denial {
    -webkit-animation: shake-denial 7.7s infinite;
    animation: shake-denial 7.7s infinite;
}
@-webkit-keyframes shake {
    0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
        top: 10px;
    }
    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
        top: -15px;
    }
}
@keyframes shake {
    0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
        top: 10px;
    }
    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
        top: -15px;
    }
}
@-webkit-keyframes shake-denial {
    0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
        left: 50px;
    }
    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
        left: -50px;
    }
}
@keyframes shake-denial {
    0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
        left: 50px;
    }
    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
        left: -50px;
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}