.options {
    padding: 10px 0;
    font-size: 90%;
    text-align: right;
}
ul.layout-options {
    float: right;
    list-style-type: none;
    margin: 0;
}
ul.layout-options li {
    float: left;
    margin-left: .3em;
    border: 1px solid #ccc;
    padding: 0 .5em;
    border-radius: 5px;
    color: #777;
}
ul.layout-options li a {
    color: #777;
}
ul.layout-options li.on {
    background-color: #748fa0;
    color: #fff;
}
ul.layout-options li.on a {
    color: #fff;
}

.monitor .chat .status-bar {
    background-color: #677278;
    color: #eee;
    overflow: auto;
    padding : 0 7px 0 10px;
    height: 29px;
}
.monitor .chat .status-bar.on {
    background-color: #709185;
}
.monitor .chat .status-bar h4 {
    float: left;
    width: 70%;
    height: 29px;
    line-height: 29px;
    font-size: .9em;
    font-weight: normal;
    margin: 0;
    display: none;
}
.monitor.tiled .chat .status-bar h4 {
    display: block;
}
.monitor .chat .status-bar a {
    float: right;
    line-height: 29px;
    margin-left: 10px;
    color: #fff;
}
.monitor .chat .status-bar a:hover {
    color: #db4739;
}
.monitor .chat .status-bar .tailing-switch {
    line-height: 26px;
}
.monitor .chat .status-bar .tailing-switch .tailing-status {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    border-radius: 50%;
    position: relative;
}
.monitor .chat .status-bar .tailing-switch .tailing-status::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: block;
    height: 10px;
    width: 10px;
    background: #f1f1f1;
    border-radius: 50%;
}
.monitor .chat .status-bar .tailing-switch .tailing-status.on {
    background-color: #39aa56;
}
.monitor.tiled .tabs {
    display: none;
}
.monitor.tiled .chat.available {
    display: block !important;
    padding: 1px;
}
.monitor.tiled .chat.available .convo {
    height: 480px;
}
.monitor .tabs .tabs-title.private .title {
    color: #369d59;
}
.monitor .tabs .tabs-title.private.is-active .title {
    color: #75ffa4;
}
.monitor .convo {
    clear: both;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 540px;
    background-color: #333;
    border: none;
    border-radius: 0;
}
.monitor .convo .message {
    margin: .2em 0;
    padding: .2em .6em .2em .2em;
    line-height: 1;
    width: max-content;
    border-radius: 0 1em 1em 0;
    background-color: #535353;
    color: #fff;
}
.monitor .convo .message.event {
    color: #f7c25e;
}
.monitor .convo .message span {
    padding: .1em .35em;
}
.monitor .convo .message .flag {
    width: 32px;
    max-height: 20px;
    margin-right: 4px;
    vertical-align: text-bottom;
}
.monitor .convo .message .sender {
    color: #fff;
    background-color: #424242;
    border-radius: 5px;
}
.monitor .convo .message .sender.my-col-1 {
    color: #fbd2d2;
}
.monitor .convo .message .sender.my-col-2 {
    color: #ffe0c5;
}
.monitor .convo .message .sender.my-col-3 {
    color: #f4ebac;
}
.monitor .convo .message .sender.my-col-4 {
    color: #c0eabe;
}
.monitor .convo .message .sender.my-col-5 {
    color: #c6e6fd;
}
.monitor .convo .message .sender.my-col-6 {
    color: #d9d9fb;
}
.monitor .convo .message .sender.my-col-7 {
    color: #f4cff3;
}
.monitor .convo .message .datetime {
    color: #aaa;
    font-size: .8em;
}