.lobby.user {
    background-color: #eee;
    border-radius: 10px;
}
.service {
    position: relative;
    border-radius: 10px;
    background-color: #f3f3f3;
    margin-top: 0;
}
.service.cell {
    margin-top: 0;
}
.service a.title {
    display: block;
    width: 85%;
}
.service a.title h4 {
    font-weight: bold;
}
.service p {
    margin-bottom: .3em;
    color: #444;
}
.service p.guide {
    font-size: .9em;
    padding-left: .7em;
    border-left: 2px solid #999;
    border-radius: 8px;
}
.service p.dummy {
    margin-bottom: 1.8em;
}
.service a.guide {
    position: absolute;
    top: .2em;
    right: .25em;
    font-size: 1.5em;
    line-height: 1;
    padding: 0;
}
.service .service-options {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
}
.service .service-options .convo-lang {
    width: auto;
    height: 32px;
    margin: 0;
    padding-left: .6em;
    font-size: .9em;
    background-color: #dfdfdf;
    border: none;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-radius: 10px 10px 0 0;
    vertical-align: bottom;
}
.service .service-options .button.start {
    margin: 0;
    border-radius: 12px 0 9px 0;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    min-width: 12em;
    vertical-align: bottom;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
}
.service.public h4 {
    color: #178ec9;
}
.service.public p.guide {
    border-left: 2px solid #178ec9;
}
.service.public a.guide {
    color: #178ec9;
}
.service.public .service-options .button.start {
    background-color: #178ec9;
}
.service.public:hover .service-options .button.start {
    background-color: #279ad4;
}
.service.discovery h4 {
    color: #e76686;
}
.service.discovery p.guide {
    border-left: 2px solid #d26881;
}
.service.discovery a.guide {
    color: #d26881;
}
.service.discovery .service-options .button.start {
    background-color: #f16e8d;
}
.service.discovery:hover .service-options .button.start {
    background-color: #f87f9b;
}
@media screen and (max-width: 18em) {
    .service.discovery p.dummy {
        margin-bottom: 3.6em;
    }
}
.chats-options {
    font-size: .85em;
    background-color: #ececec;
    border-radius: 8px;
    padding: 0 0 0 1em;
}
.chats-options h6 {
    margin: .25em 0;
    line-height: 1.2;
}
.chats-options .refresh-chats {
    white-space: nowrap;
}
.chats-options .chat-lang {
    width: auto;
    height: 32px;
    margin: 7px 0 0 0;
    padding-left: .6em;
    font-size: 1em;
    background-color: #dfdfdf;
    border: none;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-radius: 10px 8px 8px 0;
}
.chats .chat {
    position: relative;
    border-radius: 10px;
    border: 1px solid #99ddfc;
    padding: .5em .7em 1.5em;
    color: #888;
}
.chats .chat.cell {
    margin-bottom: 0;
}
.chats .chat.template {
    display: none;
}
.chats .chat h5 {
    color: #1691cf;
    margin-right: 1em;
    margin-bottom: .3em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chats .chat .chat-info {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: .35em .55em;
    line-height: 1;
}
.chats .chat .curr-users {
    font-size: 1.1em;
}
.chats .chat.active .curr-users {
    color: #0280be;
}
.chats .chat.active .curr-users:before {
    -webkit-animation: in-chatting .8s infinite alternate;
    animation: in-chatting .8s infinite alternate;
}
@-webkit-keyframes in-chatting {
    0% { color: #0280be; }
    100% { color: #92d3f3; }
}
@keyframes in-chatting {
    0% { color: #0280be; }
    100% { color: #92d3f3; }
}
.chats .chat .lang {
    padding-left: 1em;
    font-size: .9em;
}
.chats .chat .new {
    position: absolute;
    right: .1em;
    top: 0;
    padding: .1em;
    color: #ff8f18;
    line-height: 1;
    font-size: 1.5em;
}
.chat .button.start {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    border-radius: 7px 0 7px 0;
    background-color: #b1e1f9;
    color: #178ec9;
    padding: .2em 1em;
    font-size: 1em;
}
.chat:hover .button.start {
    background-color: #bee2f6;
}
.no-chats {
    display: none;
}
.no-chats .chat {
    position: relative;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: .5em .7em 1.5em;
    color: #888;
}
.no-chats .chat .button.start {
    border-radius: 10px 0 9px 0;
    background-color: #ececec;
    color: #21589f;
}
